doctype html
html(ng-app)
    head
        title Cortex Search
        link(rel="stylesheet", type="text/css", href="/css/main.css")
        script(type="javascript", src="http://cdn.staticfile.org/angular.js/1.2.0rc3/angular.js")
  body
      .container
          include includes/header