doctype html
html
  head
    title Cortex Search
    link(rel="stylesheet", type="text/css", href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css")
    link(rel="stylesheet", type="text/css", href="/css/style.css")
  body
    header.header
        include incldues/header
        
    .container
        .package
            .main
               .header
               .baseinfo
               .readme
            .baseinfo