doctype html
html
  head
    title Cortex Search
    link(rel="stylesheet", type="text/css", href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css")
    link(rel="stylesheet", type="text/css", href="/css/style.css")
  body
    header.header
        .logo
        .search-toolbar
            .search
        .links
            li: a(href="#") Github
            li: a(href="#") Documentations
            li: a(href="#") Report
            li: a(href="#") Issues

    .container
        .search-result