
body,div,ul,li,pre
    margin: 0
    padding: 0
    font-family: "Helvetica Neue", sans-serif

li
    list-style-type: none


.header
    height: 40px
    color: #fff
    position: relative

    h1
        background-image: url('/img/brand.png')
        background-position: 0 center
        background-repeat: no-repeat
        background-size: 120px
        font-weight: normal
        text-indent: -2000px

.container
    width:100%

    .logo
        background-image: url('/img/logo.png')
        margin: 0 auto
        width: 100px
        height: 40px
        background-repeat:no-repeat

    form
        margin: 0 auto
        width 400px
  

body
    background-image: url('/img/header.jpg')
    background-position: center 0
    background-color: black
    background-repeat: no-repeat

.footer
    .links
        padding: 40px
        text-align: right
        li
           display:inline-block
           a
               margin-right: 15px
               color: #bcbcbc
               text-decoration: none