
body,div,ul,li,pre
    margin: 0
    padding: 0
    font-family: "Helvetica Neue", sans-serif

li
    list-style-type: none


.header
    height: 40px
    color: #fff
    position: relative

    h1
        background-image: url('/img/brand.png')
        background-position: 0 center
        background-repeat: no-repeat
        background-size: 120px
        font-weight: normal
        text-indent: -2000px

.container
    width:100%

    .logo
        background-image: url('/img/logo.png')
        margin: 0 auto
        width: 100px
        height: 40px
        background-repeat:no-repeat

    form
        margin: 0 auto
        width 400px

    // p.describe
    //     text-align: center
    //     font-size: 24px
    //     margin-bottom: 23px
    //     width: 720px
    //     margin: 0 auto 23px auto

    //     font-weight: 100
    // ul.funcs
    //     text-align: center
    //     width: 200px
    //     margin: 0 auto
    //     .item
    //         display: inline-block
    //         margin-right: 20px
    // .button-wrap
    //     width: 100%
    //     position: absolute
    //     bottom: -30px
    // .button
    //     background-image: url("../img/button.png")
    //     width: 240px
    //     height: 61px
    //     margin: 0 auto
    //     display: block
    //     color: #fff
    //     padding-left: 50px
    //     box-sizing: border-box
    //     line-height: 61px
    //     text-decoration: none
    //     font-size: 24px
    //     text-shadow: 0 1px 2px rgba(0,0,0,0.2)


body
    background-image: url('/img/header.jpg')
    background-position: center 0
    background-color: black
    background-repeat: no-repeat

.footer
    .links
        padding: 40px
        text-align: right
        li
           display:inline-block
           a
               margin-right: 15px
               color: #bcbcbc
               text-decoration: none