// Font and colors

body
  font-family "Helvetica Neue", Helvetica, Arial, sans-serif
  font-size 14px
  line-height 1.42857143

h1, h2, h3, h4, h5, h6
  // font-family "Roboto Slab", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
  font-family "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
  font-weight 300


.detail
  // color #666