body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
a {
  text-decoration: none;
}
.list .mod .name {
  font-size: 22px;
  color: #444;
}
.header .info {
  color: #555;
  font-size: 14px;
}
.header .author-name {
  color: #3aa4d9;
  font-weight: bolder;
  text-transform: uppercase;
}
.header .time {
  font-size: 10px;
  color: #999;
  text-transform: uppercase;
}
.header .version-select {
  font-size: 15px;
  color: #444;
}
.detail {
  color: #333;
}
.detail .caption {
  font-size: 17px;
  color: #777;
  font-weight: 400;
}
.metas {
  color: #999;
}
