width_c1            = 23%
width_c2            = 77%
width_c2_1          = 70%
width_c2_2          = 30%
shadow_layout       = 0 0 8px rgba(0, 0, 0, .2)
bg_noise            = url("../img/noise-bg.png")
border_color_detail = #e5e5e7

////////////////////////////////////////////////////////////////////////////////

// |             c              |
// |  c1     |        c2        |
//           |  c2-1   |  c2-2  | 
.c,
.c1,
.c2,
.c2-1,
.c2-2
  box-sizing border-box
  position relative

.c
  clearfix()
  max-width 1500px
  min-width 320px

.c1,
.c2
  overflow auto
  overflow-x hidden

.c1
  float left
  width width_c1
  z-index 1

.c2
  float right
  width width_c2

// float none
.c2-1-nf
  width width_c2_1

.c2-1
  width width_c2_1
  float left
.c2-2
  width width_c2_2
  float right

////////////////////////////////////////////////////////////////////////////////

.list,
article,
.head,
.detail,
.metas,
.decorate
  position relative
  box-sizing border-box

html,
body,
.wrap,
.list
.content
  height 100%

body
  background-image bg_noise

header
  background-color #000
  background-image url("../img/header-bg.jpg")
  background-position right top
  background-repeat no-repeat
  position fixed
  width 100%
  height 60px
  padding 0 15px
  z-index 10

.wrap
  background-color #f5f5f6
  padding-top 60px

.list
  padding-top 20px

article
  background-image bg_noise
  min-height 100%
  border-left 1px solid border_color_detail
  overflow auto
  overflow-x hidden
  &:before
    content ""
    width width_c2_1
    background-color #fff
    display block
    position absolute
    min-height 100%
    box-shadow shadow_layout
  .head,
  .detail
    padding 20px 30px 0
  .metas
    padding 0 20px
  .metas
    margin-top -40px
  .detail
    padding 20px 30px
    

footer
  height 80px
  background-color #2e2e2f
  .decorate
    height 10px
    background-color #fff
    // There's a contract, so it is a little darker than border_color_detail
    border-left 1px solid #999
    &:after
      content ""
      position absolute
      height 10px
      width 10px
      background-image url("../img/footer-shad.png")
      right -10px


@media (max-width: 1000px)
  .c2-1,
  .c2-2
    float none
    width 100%

  .c2-1-nf
    width 100%

  article
    &:before
      width: 100%
    .metas
      margin-top 0
      padding 0 30px

@media (max-width: 640px)
  .c1
    display none
  .c2
    float none
    width 100%

    .head,
    .detail,
    .metas
      padding-left 4%
      padding-right 4%
