.list,
article,
.header,
.detail,
.metas {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:before,
:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body,
.wrap,
.list,
.content {
  height: 100%;
}
html {
  min-width: 320px;
}
body {
  background-image: url("../img/noise-bg.png");
}
.head {
  background-color: #000;
  background-image: url("../img/header-bg.jpg");
  background-position: right top;
  background-repeat: no-repeat;
  position: fixed;
  width: 100%;
  height: 60px;
  padding: 0 15px;
  z-index: 10;
}
.wrap {
  zoom: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #f5f5f6;
  max-width: 1500px;
  padding-top: 60px;
}
.wrap:before,
.wrap:after {
  content: "";
  display: table;
}
.wrap:after {
  clear: both;
}
.list,
.content {
  float: left;
  overflow: auto;
  overflow-x: hidden;
}
.list {
  width: 23%;
  z-index: 1;
  padding-top: 20px;
}
.content {
  width: 77%;
}
article {
  background-image: url("../img/noise-bg.png");
  min-height: 100%;
  border-left: 1px solid #e5e5e7;
  overflow: auto;
}
article:before {
  content: "";
  width: 70%;
  min-height: 100%;
  background-color: #fff;
  display: block;
  margin: 0;
  z-index: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.2);
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
}
article .header,
article .detail {
  padding: 20px 30px 0;
}
article .metas {
  padding: 0 20px;
}
article .header {
  width: 70%;
}
article .metas {
  width: 30%;
  float: right;
  margin-top: -37px;
}
article .detail {
  width: 70%;
  padding: 20px 30px;
  float: left;
}
.footer {
  height: 80px;
}
@media (max-width: 1000px) {
  article:before {
    width: 100%;
  }
  article .header,
  article .metas,
  article .detail,
  article float none {
    width: 100%;
  }
  article .metas {
    margin-top: 0;
    padding: 0 30px;
  }
}
@media (max-width: 640px) {
  .list {
    display: none;
  }
  .content {
    float: none;
    width: 100%;
  }
  .content .header,
  .content .detail,
  .content .metas {
    padding-left: 4%;
    padding-right: 4%;
  }
}
