.c,
.c1,
.c2,
.c2-1,
.c2-2 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.c {
  zoom: 1;
  max-width: 1500px;
  min-width: 320px;
}
.c:before,
.c:after {
  content: "";
  display: table;
}
.c:after {
  clear: both;
}
.c1,
.c2 {
  overflow: auto;
  overflow-x: hidden;
}
.c1 {
  float: left;
  width: 23%;
  z-index: 1;
}
.c2 {
  float: right;
  width: 77%;
}
.c2-1-nf {
  width: 70%;
}
.c2-1 {
  width: 70%;
  float: left;
}
.c2-2 {
  width: 30%;
  float: right;
}
.list,
article,
.head,
.detail,
.metas,
.decorate {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body,
.wrap,
.list,
.content {
  height: 100%;
}
body {
  background-image: url("../img/noise-bg.png");
}
header {
  background-color: #000;
  background-image: url("../img/header-bg.jpg");
  background-position: right top;
  background-repeat: no-repeat;
  position: fixed;
  width: 100%;
  height: 60px;
  padding: 0 15px;
  z-index: 10;
}
.wrap {
  background-color: #f5f5f6;
  padding-top: 60px;
}
.list {
  padding-top: 20px;
}
article {
  background-image: url("../img/noise-bg.png");
  min-height: 100%;
  border-left: 1px solid #e5e5e7;
  overflow: auto;
  overflow-x: hidden;
}
article:before {
  content: "";
  width: 70%;
  background-color: #fff;
  display: block;
  position: absolute;
  min-height: 100%;
  -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.2);
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
}
article .head,
article .detail {
  padding: 20px 30px 0;
}
article .metas {
  padding: 0 20px;
}
article .metas {
  margin-top: -40px;
}
article .detail {
  padding: 20px 30px;
}
footer {
  height: 80px;
  background-color: #2e2e2f;
}
footer .decorate {
  height: 10px;
  background-color: #fff;
  border-left: 1px solid #999;
}
footer .decorate:after {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  background-image: url("../img/footer-shad.png");
  right: -10px;
}
@media (max-width: 1000px) {
  .c2-1,
  .c2-2 {
    float: none;
    width: 100%;
  }
  .c2-1-nf {
    width: 100%;
  }
  article:before {
    width: 100%;
  }
  article .metas {
    margin-top: 0;
    padding: 0 30px;
  }
}
@media (max-width: 640px) {
  .c1 {
    display: none;
  }
  .c2 {
    float: none;
    width: 100%;
  }
  .c2 .head,
  .c2 .detail,
  .c2 .metas {
    padding-left: 4%;
    padding-right: 4%;
  }
}
