mods_width= 23%
detail_width= 54%
meta_width= 23%
font_color=#dadada
info_color=#a6a6a6
drop_shadow=0 1px 3px rgba(0, 0, 0, .3)
carve_shadow=inset 0 1px 1px rgba(0, 0, 0, .3), 0 1px 0 white
layout_shadow=0 0 8px rgba(0, 0, 0, .15)



html,body
    height:100%
    line-height:1.5
    background-color: #f5f5f5

body,h1,h2,h3,h4,h5,h6,p,ul,li
    margin: 0
    padding: 0
    font-family: "Helvetica Neue", arial, sans-serif
    font-weight: 200

a 
    color : #3aa4d9
    text-decoration: none

li
    list-style-type: none

img.avatar
    width: 60px
    border-radius: 30px
    box-shadow: drop_shadow


img.avatar-sm
    width: 50px
    border-radius: 25px
    box-shadow: drop_shadow

.icon-search,
.icon-close
    width: 30px
    height: 30px
    background-repeat: no-repeat


.icon-like,
.icon-download,
    height: 22px
    width: 22px

.head
    background-color: #000
    background-image: url("/img/header-bg.jpg")
    background-position: right top
    background-repeat: no-repeat
    width: 100%
    height: 60px
    padding: 10px 15px
    position: fixed
    z-index:10
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .25);   
    .logo
        position: absolute
        float: left
        top: 5px
        left: 15px
    .search
        margin-left: 90px
        margin-top: 10px
        float: left
        position: relative
        width: 430px
        background-color: #e6e6e7
        border-radius: 5px
        .icon-search
            position: absolute
            top: 6px
            left: 6px
            background-image: url("/img/icon-search.png")
        .input
            background-color: #e6e6e7
            float: left
            border: none
            height: 20px
            margin-left: 40px
            width: 360px
            outline: none
            font-size: 16px
            line-height: 20px
            color: #333
            padding: 10px 0 10px 0
        .icon-close
            position: absolute
            background-image: url("/img/icon-close.png")
            top: 7px
            right: 6px
            opacity: .8
    .msg
        animation: fadeIn 0.5s
        font-size: 23px
        color: white
        position: absolute
        margin-left: 20px
        margin-top: 12px

mod-padding-right=15px
mod-padding-top=15px
$meta-item
    position: relative
    padding-left: 20px
    float: left
    &:before
        position: absolute
        content: ""
        width: 22px
        height: 22px
        left: 0
        top: 0
        display: block
        background-size: cover

$meta-item-sm
    position: relative
    padding-left: 20px
    float: left
    &:before
        position: absolute
        content: ""
        width: 16px
        height: 16px
        left: 0
        top: 0
        display: block
        background-size: cover

.content
    overflow : hidden
    height: 100%

.mods,
.detail,
.metas
    padding-top: 90px

.mods,
.metas
    background-image: url("../img/noise-bg.png")

.mods
    position:relative
    box-shadow:layout_shadow
    width: mods_width
    background-color: #f5f5f5
    float: left
    height:100%
    overflow: scroll
    .mod
        animation: fadeInDown 0.6s
        border-top: 1px solid white
        border-bottom: 1px solid #d8d8d8
        padding: mod-padding-top mod-padding-right 30px 24px
        position: relative
        .name
            font-size: 22px
            color: #333
        .meta
            font-size: 14px
            color: info_color
            position: absolute
            right: mod-padding-right
            top: mod-padding-top
            padding:5px
            .star
                padding-left: 20px;
                @extend $meta-item-sm
                &:before
                    background-image: url("/img/icon-like.png")
            .download
                margin-left:20px
                padding-left: 20px;
                @extend $meta-item-sm
                &:before
                    background-image: url("/img/icon-like.png")
        .desc
            font-size: 14px
            margin-top: 5px
            color: #666

        &:first-child
            border-top: 0
        &:last-child
            border-bottom: 0
            

    .mod-selected
        background-color:#E8E8E8 
        border-color: #e8e8e8
        &:before
            background-color: #e8e8e8
            width: 10px
            height: 100%
            position: absolute
            right: -10px
            top: 0

.detail
    width: detail_width
    float:left
    background-color:#E8E8E8
    height:100%
    color: #666
    overflow:scroll
    .block
        margin:20px 30px
        clear: both
    .header
        border-bottom: solid 1px #cccccc;
        height: 91px;
        .author
            float:left
        .desc
            float:left
            margin-left:20px
            .title
                font-size: 35px
                font-weight: 500
                line-height: 35px
                color: #333
                margin-bottom: 3px
            .info
                font-size:14px
                .name
                    color : #3aa4d9
                    font-weight: bolder
                .date
                    margin-left:10px

    .intro
        font-size:16px
        margin-bottom:40px
    .readme
        .title
            font-size: 18px
            color:#666
            font-weight: bolder
            padding:5px 0px
            border-bottom: solid 1px #BFBCBC

$section
    border-bottom: solid 1px #dadada
    padding: 12px 0px
    margin: 0 20px
    clear:both
$icon
    width: 22px
    height: 22px
    background-size: cover
    position: absolute

.metas
    font-size:14px
    position:relative
    box-shadow: layout_shadow
    color:#A6A6A6
    width: meta_width
    float: left
    background-color:#f5f5f5
    height:100%
    .top
        height:67px
    .meta 
        @extend $section      
        height:20px
        .title
            padding-left: 28px
        $icon
            width: 22px
            height: 22px
            background-size: cover
            position: absolute
        .icon-repo
            @extend $icon
            background-image: url("/img/icon-repo.png")
        .icon-home           
            @extend $icon
            background-image: url("/img/icon-home.png")
        .icon-bug
            @extend $icon
            background-image: url("/img/icon-bug.png")
        .pull-right
            width:70%
            white-space: nowrap;
            text-overflow: ellipsis
            overflow: hidden
            float: right
    .tags
        @extend $section
        clearfix()      
        .title
            margin-bottom:5px
        .tag
            box-shadow: drop_shadow
            float:left
            margin:3px 10px 5px 0px
            border-radius: 10px
            padding:0 12px
            background-color: white
            font-size: 12px
            font-weight: normal
            line-height: 20px
            color: info_color
            &:hover
                background-color: info_color
                color: white
                box-shadow: carve_shadow
                text-shadow: 0 1px 0 rgba(0, 0, 0, .4)

    .maintainers
        @extend $section      
        border-bottom: none
        img
            margin-right:15px
            margin-top:15px