body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
img.avatar {
  width: 60px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}
img.avatar-sm {
  width: 50px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}
.icon-search,
.icon-close {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
}
.icon-like,
.icon-download,
height 22px {
  width: 22px;
}
header {
  -webkit-box-shadow: 0 3px 5px 0 rgba(0,0,0,0.25);
  box-shadow: 0 3px 5px 0 rgba(0,0,0,0.25);
}
header .logo {
  float: left;
  margin-top: 3px;
  margin-right: 20px;
  max-width: 20%;
}
header .search {
  -webkit-box-shadow: inset 0 2px 4px 0 rgba(0,0,0,0.3);
  box-shadow: inset 0 2px 4px 0 rgba(0,0,0,0.3);
  margin-top: 10px;
  margin-right: -100%;
  float: left;
  position: relative;
  width: 500px;
  max-width: 70%;
  background-color: #e6e6e7;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
header .search .icon-search {
  position: absolute;
  top: 6px;
  left: 6px;
  background-image: url("../img/icon-search.png");
}
header .search .input {
  background-color: transparent;
  float: left;
  border: none;
  height: 20px;
  margin-left: 40px;
  width: 360px;
  outline: none;
  font-size: 16px;
  line-height: 20px;
  color: #333;
  padding: 10px 0 10px 0;
}
header .search .icon-close {
  position: absolute;
  background-image: url("../img/icon-close.png");
  top: 7px;
  right: 6px;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
header .msg {
  -webkit-animation: fadeIn 0.5s;
  -moz-animation: fadeIn 0.5s;
  -o-animation: fadeIn 0.5s;
  -ms-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
  font-size: 23px;
  color: #fff;
  position: absolute;
  margin-left: 20px;
  margin-top: 12px;
}
.list .mod .meta .star,
.list .mod .meta .download {
  position: relative;
  padding-left: 20px;
  float: left;
}
.list .mod .meta .star:before,
.list .mod .meta .download:before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  display: block;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.list .mod {
  -webkit-animation: fadeInDown 0.6s;
  -moz-animation: fadeInDown 0.6s;
  -o-animation: fadeInDown 0.6s;
  -ms-animation: fadeInDown 0.6s;
  animation: fadeInDown 0.6s;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #d8d8d9;
  padding: 15px 15px 20px 24px;
  position: relative;
  text-shadow: 0 1px 0 #fff;
}
.list .mod .meta {
  font-size: 14px;
  color: #a6a6a6;
  position: absolute;
  right: 15px;
  top: 15px;
  padding: 5px;
}
.list .mod .meta .star {
  padding-left: 20px;
}
.list .mod .meta .star:before {
  background-image: url("../img/icon-like.png");
}
.list .mod .meta .download {
  margin-left: 20px;
  padding-left: 20px;
}
.list .mod .meta .download:before {
  background-image: url("../img/icon-like.png");
}
.list .mod .desc {
  font-size: 14px;
  margin-top: 5px;
  color: #666;
}
.list .mod:first-child {
  border-top-color: #f5f5f6;
}
.list .mod:last-child {
  border-bottom-color: #f5f5f6;
}
.list .mod:last-child.mod-selected {
  -webkit-box-shadow: 0 1px 0 #fff;
  box-shadow: 0 1px 0 #fff;
}
.list .mod-selected {
  top: -1px;
  padding-top: 16px;
  margin-bottom: -1px;
  background-color: #e8e8eb;
  border-top-color: #d8d8d9;
  border-bottom-color: #e8e8eb;
  border-left: 3px solid #3aa4d9;
  padding-left: 21px;
}
.list .mod-selected:first-child {
  border-top-color: #d8d8d9;
}
.list .mod-selected:last-child {
  border-bottom-color: #e8e8eb;
}
.head .main {
  border-bottom: solid 1px #e8e8e8;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.5);
  box-shadow: 0 1px 0 rgba(255,255,255,0.5);
}
.head .main .author-avatar {
  float: left;
}
.head .main .desc {
  float: left;
  margin-left: 15px;
}
.head .main .desc h1.title {
  margin-bottom: 3px;
  line-height: 35px;
  font-size: 35px;
  color: #333;
  display: inline-block;
  margin-right: 10px;
}
.head .main .desc .info .author-name {
  margin-left: 5px;
}
.head .main .time {
  padding-top: 3px;
  text-align: right;
  clear: both;
}
.head .version-select {
  border: 1px solid #bbb;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 0 #fff;
  box-shadow: 0 1px 0 #fff;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #f5f5f5 url("../img/select-arrow.png") no-repeat calc(100% - 8px) center;
  padding: 5px 20px 5px 5px;
  vertical-align: middle;
}
.head .version-select:active {
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.3), 0 1px 0 #fff;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.3), 0 1px 0 #fff;
}
.detail .readme .caption {
  border-bottom: solid 1px #e8e8e8;
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.5);
  box-shadow: 0 1px 0 rgba(255,255,255,0.5);
}
.detail .readme .caption .text {
  background-color: #f5f5f5;
  border-top: 2px solid #ccc;
  display: inline-block;
  padding: 0 10px;
}
.metas .meta .icon-repo,
.metas .meta .icon-home,
.metas .meta .icon-bug {
  width: 22px;
  height: 22px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  position: absolute;
}
.metas .item {
  border-bottom: solid 1px #dadada;
  padding: 12px 0;
  clear: both;
}
.metas .item:last-child {
  border-bottom: none;
}
.metas .top {
  height: 67px;
}
.metas .meta {
  zoom: 1;
  padding-bottom: 5px;
}
.metas .meta:before,
.metas .meta:after {
  content: "";
  display: table;
}
.metas .meta:after {
  clear: both;
}
.metas .meta .title {
  padding-left: 28px;
}
.metas .meta .icon-repo {
  background-image: url("../img/icon-repo.png");
}
.metas .meta .icon-home {
  background-image: url("../img/icon-home.png");
}
.metas .meta .icon-bug {
  background-image: url("../img/icon-bug.png");
}
.metas .meta .pull-right {
  width: 70%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  float: right;
  text-align: right;
}
.metas .tags {
  zoom: 1;
}
.metas .tags:before,
.metas .tags:after {
  content: "";
  display: table;
}
.metas .tags:after {
  clear: both;
}
.metas .tags .title {
  margin-bottom: 5px;
}
.metas .tags .tag {
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  float: left;
  margin: 3px 10px 5px 0px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 0 12px;
  background-color: #fff;
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
  color: #a6a6a6;
}
.metas .tags .tag:hover {
  background-color: #a6a6a6;
  color: #fff;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.3), 0 1px 0 #fff;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.3), 0 1px 0 #fff;
  text-shadow: 0 1px 0 rgba(0,0,0,0.4);
}
.metas .maintainers img {
  margin-right: 15px;
  margin-top: 15px;
}
